@{
    @ViewData["Title"]
}

@model OwlViewModel

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagrama UML con Mermaid</title>

    <link rel="stylesheet" href="~/css/Diagrama.css">

    <script type="module" src="~/js/Diagrama.js"></script>
</head>
<body>

    <h1>Diagrama UML con Mermaid</h1>
    <button id="download-diagram" class="btn btn-descargar">Descargar</button>
    <div id="mermaid-container"></div>

    <script>
        var jsonData = @Html.Raw(Model.JsonData);
    </script>

</body>
</html>
